*{
	padding: 0px;
	margin: 0px;
}
.gallery-images{
	align-items: center;
	text-align: center;
	margin-top: 150px;
	
}
.gallery-images a{
	padding: 20px;
}
.image1{
	box-shadow:  20px 20px 25px #5baaf0;
}
.image2{
	box-shadow:  20px 20px 25px #5baaf0;
}
.image3{
	box-shadow:  20px 20px 25px #5baaf0;
}
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background:linear-gradient(to right,white,lightblue,skyblue,#5baaf0,skyblue,lightblue,white);
	font-family: cursive;
	color:#f7a85e;
	border-top: solid 2px #eb9e57;
	border-radius: 10%;
}
.footer-center{
	position: fixed;
	bottom: 0;

	
}
.footer-link a{
text-decoration: none;
color:#dbd3d4;
font-size: 16px;
border:solid 1px orange;
border-radius:20px;
background: orange;
}